{% load static %}

<section class="arrivals" id="arrivals">

        <h1 class="heading"> <span>new arrivals</span> </h1>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                {% for newbook in newbooks|slice:":6" %}

                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="{{ newbook.img.url }}" alt="">
                        </div>
                        <div class="content">
                            <h3>{{ newbook.title }}</h3>
                            <div class="price">Rs:{{newbook.get_sale_price}} <span>Rs:{{ newbook.discount }}</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a>

                {% endfor %}

            </div>

        </div>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                {% for newbook in newbooks|slice:"6:12" %}
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="{{ newbook.img.url }}" alt="">
                        </div>
                        <div class="content">
                            <h3>{{ newbook.title }}</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>